html,
body {
  height: 100%;
  width: 100%;
}
body {
  font-family: 'Merriweather', 'Helvetica Neue', Arial, sans-serif;
}
hr {
  border-color: #414d59;
  border-width: 3px;
  max-width: 50px;
}
hr.light {
  border-color: #293133;
}
a {
  -webkit-transition: all 0.35s;
  -moz-transition: all 0.35s;
  transition: all 0.35s;
  color: #414d59;
}
a:hover,
a:focus {
  color: #2b333c;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
}
p {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 20px;
}
.bg-primary {
  background-color: #414d59;
}
.bg-dark {
  background-color: #d6cecc;
  color: #293133;
}
.text-faded {
  color: rgba(214, 206, 204, 0.7);
}
section {
  padding: 100px 0;
}
aside {
  padding: 50px 0;
}
.no-padding {
  padding: 0;
}
.navbar-default {
  background-color: #293133;
  border: none;
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
  -webkit-transition: all 0.35s;
  -moz-transition: all 0.35s;
  transition: all 0.35s;
}
.navbar-default .navbar-header .navbar-brand {
  color: #d6cecc;
  font-family: 'Ubuntu', 'Helvetica Neue', Arial, sans-serif;
  font-size: 28px;
  font-weight: 700;
}
.navbar-default .navbar-header .navbar-brand:hover,
.navbar-default .navbar-header .navbar-brand:focus {
  color: #bfb3b0;
}
.navbar-default .nav > li > a,
.navbar-default .nav > li > a:focus {
  font-weight: 700;
  font-size: 13px;
  color: #d6cecc;
}
.navbar-default .nav > li > a:hover,
.navbar-default .nav > li > a:focus:hover {
  color: #414d59;
  background-color: #293133;
}
.navbar-default .nav > li.active > a,
.navbar-default .nav > li.active > a:focus {
  color: #414d59 !important;
  background-color: transparent;
}
.navbar-default .nav > li.active > a:hover,
.navbar-default .nav > li.active > a:focus:hover {
  background-color: transparent;
}
@media (min-width: 768px) {
  .navbar-default {
    background-color: transparent;
    border: none;
  }
  .navbar-default .navbar-header .navbar-brand {
    color: rgba(214, 206, 204, 0.7);
  }
  .navbar-default .navbar-header .navbar-brand:hover,
  .navbar-default .navbar-header .navbar-brand:focus {
    color: #d6cecc;
  }
  .navbar-default .nav > li > a,
  .navbar-default .nav > li > a:focus {
    color: rgba(214, 206, 204, 0.7);
  }
  .navbar-default .nav > li > a:hover,
  .navbar-default .nav > li > a:focus:hover {
    color: #d6cecc;
  }
  .navbar-default.affix {
    background-color: #293133;
    border-color: rgba(214, 206, 204, 0.05);
  }
  .navbar-default.affix .navbar-header .navbar-brand {
    color: #d6cecc;
    font-size: 18px;
    font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
  }
  .navbar-default.affix .navbar-header .navbar-brand:hover,
  .navbar-default.affix .navbar-header .navbar-brand:focus {
    color: #bfb3b0;
  }
  .navbar-default.affix .nav > li > a,
  .navbar-default.affix .nav > li > a:focus {
    color: #d6cecc;
  }
  .navbar-default.affix .nav > li > a:hover,
  .navbar-default.affix .nav > li > a:focus:hover {
    color: #414d59;
  }
}
header {
  position: relative;
  width: 100%;
  min-height: auto;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  background-position: center;
  background-image: url('../img/people-festival-party-dancing.jpg');
  text-align: center;
  color: #293133;
}
header .header-content {
  position: relative;
  text-align: center;
  padding: 100px 15px 100px;
  width: 100%;
}

header .header-content-left {
  position: relative;
  width: 50%;
}


header blockquote {
  border: 0;
  font-family: 'Architects Daughter', cursive;
  font-size: 4em;
  width: 60%;
  color: #333;
}

header blockquote:before {
  display: block;
  content: "\201C";
  font-size: 80px;
  position: absolute;
  left: -20px;
  top: -20px;
  color: #333;
}
header blockquote::after {
  display: block;
  content: "\201C";
  position: absolute;
  right: 20px;
  bottom: 20px;
  transform: rotate(180deg);
  color: #333;
}

header .header-content .header-content-inner h1 {
  font-weight: 700;
  margin-top: 0;
  margin-bottom: 0;
}
header .header-content .header-content-inner hr {
  margin: 30px auto;
}
header .header-content .header-content-inner p {
  font-weight: 300;
  color: rgba(41, 49, 51, 0.7);
  font-size: 16px;
  margin-bottom: 50px;
}
@media (min-width: 768px) {
  header {
    min-height: 100%;
  }
  header .header-content {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    padding: 0 50px;
  }
  header .header-content .header-content-inner {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
  }
  header .header-content .header-content-inner p {
    font-size: 18px;
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
}
.section-heading {
  margin-top: 0;
}
.service-box {
  max-width: 400px;
  margin: 50px auto 0;
}
@media (min-width: 992px) {
  .service-box {
    margin: 20px auto 0;
  }
}
.service-box p {
  margin-bottom: 0;
}
.call-to-action h2 {
  margin: 0 auto 20px;
}
.text-primary {
  color: #d6cecc;
}
.no-gutter > [class*='col-'] {
  padding-right: 0;
  padding-left: 0;
}
.btn-default {
  color: #d6cecc;
  background-color: #293133;
  border-color: #293133;
  -webkit-transition: all 0.35s;
  -moz-transition: all 0.35s;
  transition: all 0.35s;
}
.btn-default:hover,
.btn-default:focus,
.btn-default.focus,
.btn-default:active,
.btn-default.active,
.open > .dropdown-toggle.btn-default {
  color: #d6cecc;
  background-color: #1e2325;
  border-color: #191e1f;
}
.btn-default:active,
.btn-default.active,
.open > .dropdown-toggle.btn-default {
  background-image: none;
}
.btn-default.disabled,
.btn-default[disabled],
fieldset[disabled] .btn-default,
.btn-default.disabled:hover,
.btn-default[disabled]:hover,
fieldset[disabled] .btn-default:hover,
.btn-default.disabled:focus,
.btn-default[disabled]:focus,
fieldset[disabled] .btn-default:focus,
.btn-default.disabled.focus,
.btn-default[disabled].focus,
fieldset[disabled] .btn-default.focus,
.btn-default.disabled:active,
.btn-default[disabled]:active,
fieldset[disabled] .btn-default:active,
.btn-default.disabled.active,
.btn-default[disabled].active,
fieldset[disabled] .btn-default.active {
  background-color: #293133;
  border-color: #293133;
}
.btn-default .badge {
  color: #293133;
  background-color: #d6cecc;
}
.btn-primary {
  color: #d6cecc;
  background-color: #414d59;
  border-color: #414d59;
  -webkit-transition: all 0.35s;
  -moz-transition: all 0.35s;
  transition: all 0.35s;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
  color: #d6cecc;
  background-color: #36404a;
  border-color: #323b44;
}
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
  background-image: none;
}
.btn-primary.disabled,
.btn-primary[disabled],
fieldset[disabled] .btn-primary,
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled.focus,
.btn-primary[disabled].focus,
fieldset[disabled] .btn-primary.focus,
.btn-primary.disabled:active,
.btn-primary[disabled]:active,
fieldset[disabled] .btn-primary:active,
.btn-primary.disabled.active,
.btn-primary[disabled].active,
fieldset[disabled] .btn-primary.active {
  background-color: #414d59;
  border-color: #414d59;
}
.btn-primary .badge {
  color: #414d59;
  background-color: #d6cecc;
}
.btn {
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
  border: none;
  border-radius: 300px;
  font-weight: 700;
}
.btn-xl {
  padding: 15px 30px;
}
::-moz-selection {
  color: #293133;
  text-shadow: none;
  background: #d6cecc;
}
::selection {
  color: #293133;
  text-shadow: none;
  background: #d6cecc;
}
img::selection {
  color: #293133;
  background: transparent;
}
img::-moz-selection {
  color: #293133;
  background: transparent;
}
body {
  webkit-tap-highlight-color: #d6cecc;
}
